<template>
  <span>
    <v-text-field
      :label="label"
      :rules="rules"
      required
      :hint="hint"
      v-model="name"
      v-on:change="this.updateValue"
    ></v-text-field>
    <label>No spaces allowed, must end in .img, allowed special characters: -._~:().</label>
  </span>
</template>

<script>
export default {
  name: 'MmapFileNameInput',
  data () {
    return {
      name: '',
      rules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 5) || 'Name must be greater than 5 characters',
        v => (v || '').indexOf(' ') < 0 || 'Name cannot contain spaces',
        v => (new RegExp('(' + ['img'].join('|').replace(/\./g, '\\.') + ')$')).test(v) || 'Name must end with .img extension',
        v => (new RegExp(/^[\w\-\\._~:\\(\\).]+$/).test(v)) || 'Name contains invalid special characters'
      ]
    }
  },
  props: {
    value: {
      type: String
    },
    label: {
      type: String,
      default: "Image File Name"

    },
    hint: {
      type: String,
      default: "File name for image"
    },
  },
  methods: {
    updateValue () {
      this.$emit('input', this.name)
    }
  },
  watch: {
    value: function (val) {
      if (this.name !== val)
        this.name = val
    }
  },
}
</script>