<template>
  <span>
    <v-select
      :items="radios"
      label="Radio"
      v-on:change="this.updateValue"
      v-model="selectedRadio"
      :rules="rules"
    ></v-select>

  </span>
</template>

<script>
export default {
  name: 'RadioSelect',
  data () {
    return {
      radios: [],
      selectedRadio: '',
      isLoading: true,
      rules: [
        v => !!v || 'Radio is required',
      ],
    }
  },
  props: ['value'],
  mounted () {
    this.loadRadios()
    if(this.$chirpisettings.radio !== '') {
      this.value = this.$chirpisettings.radio
      this.selectedRadio = this.$chirpisettings.radio
      this.$emit('input', this.selectedRadio)
    }
  },
  methods: {
    loadRadios () {
      this.$chirpihttp
      .get('radios')
      .then((response) => {
        this.radios = response.data
        this.isLoading = false
      })
      .catch((error) => {
        this.isLoading = false
        alert(error)
      })
    },
    updateValue () {
      this.$emit('input', this.selectedRadio)
      this.$chirpisettings.radio = this.selectedRadio
    }
  }
}
</script>