<template>
  <span>
    <v-select
      :items="ports"
      label="Port"
      v-on:change="this.updateValue"
      v-model="selectedPort"
      :rules="rules"
    ></v-select>

  </span>
</template>

<script>
export default {
  name: 'SerialPortSelect',
  data () {
    return {
      ports: [],
      selectedPort: '',
      isLoading: true,
      rules: [
        v => !!v || 'Port is required',
      ],
    }
  },
  props: ['value'],
  mounted () {
    this.loadPorts()
    if(this.$chirpisettings.port !== '') {
      this.value = this.$chirpisettings.port
      this.selectedPort = this.$chirpisettings.port
      this.$emit('input', this.selectedPort)
    }
  },
  methods: {
    loadPorts () {
      this.$chirpihttp
      .get('ports')
      .then((response) => {
        this.ports = response.data
        this.isLoading = false
      })
      .catch((error) => {
        this.isLoading = false
        alert(error)
      })
    },
    updateValue () {
      this.$emit('input', this.selectedPort)
      this.$chirpisettings.port = this.selectedPort
    }
  }
}
</script>