<template>
  <v-dialog
    v-model="dialog"
    persistent
    fullscreen
    hide-overlay
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="pink lighten-2"
        class="mr-2 mb-3"
        v-bind="attrs"
        v-on="on"
        large
        block
      >
        Download Image From Radio
      </v-btn>
    </template>
    <v-card>
      <Loading />
      <v-card-title>
        <span class="headline">Download Image From Radio</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <Messages />
          <v-form ref="form">
            <v-row>
              <v-col
                cols="12"
              >
                <SerialPortSelect v-model="port"></SerialPortSelect>
              </v-col>
              <v-col
                cols="12"
              >
                <RadioSelect v-model="radio"></RadioSelect>
              </v-col>
              <v-col
                cols="12"
              >
                <MmapFileNameInput
                  label="Image File Name"
                  v-model="name"
                  hint="New file name for image"
                ></MmapFileNameInput>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="pb-4">
        <v-spacer></v-spacer>
        <v-btn
          color="pink darken-1"
          text
          @click="dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          color="pink darken-1"
          @click="validate"
        >
          Download
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import SerialPortSelect from './fields/SerialPortSelect';
import RadioSelect from './fields/RadioSelect';
import MmapFileNameInput from './fields/MmapFileNameInput';
import Loading from './Loading';
import Messages from './Messages';

export default {
  name: 'DownloadFromRadio',
  components: {
    SerialPortSelect,
    RadioSelect,
    MmapFileNameInput,
    Loading,
    Messages
  },
  data: () => ({
    dialog: false,
    valid: true,
    port: '',
    radio: '',
    name: '',
  }),
  watch: {
    radio: function (val) {
      let t = Math.floor(Date.now() / 1000)
      this.name = val.replace(/\s+/g, '') + '-' + t + '.img'
    }
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.$chirpihttp
          .get('radio/download', {
            params: 
              {
                port: this.port,
                name: this.name,
                radio: this.radio
              }
            })
          .then((response) => {
            this.$eventBus.$emit('reload-mmap-list')
            this.dialog = false
            this.name = ''
            console.log(response)
          })
          .catch((error) => {
            alert(error)
          })
      }
    }
  },
}
</script>