<template>
  <v-container>
    <v-row class="">

      <v-col class="mb-12">
        <h1 class="display-2 font-weight-bold mb-3">
          ChirPi Help
        </h1>

        <h2><a id="user-content-getting-connected" class="anchor" href="#getting-connected" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Getting Connected</h2>
        <ol>
        <li>
        <p>Connect a USB OTG cable to the other USB port on the Raspberry Pi and plug the programming cable into the USB OTG Cable.</p>
        </li>
        <li>
        <p>Connect a micro USB cable to a suitable power supply and the power port of the Raspberry Pi.</p>
        </li>
        <li>
        <p>After 20-30 seconds a WiFi network called <strong>chirpi</strong> should be visible, connect to it from a phone like you would any other WiFi network. (The default pass phrase is <strong>radioisfun</strong>).</p>
        </li>
        </ol>
        <p>Note: Your phone may complain that this network is not connected to the Internet (because it is not). If it asks you, select the option to connect anyway.</p>
        <ol start="4">
        <li>Open <strong><a href="http://chirpi.local" rel="nofollow">http://chirpi.local</a></strong> in your phone's web browser (don't leave off the <strong>http://</strong> or you might end up somewhere else).</li>
        </ol>
        <h2>
        <a id="user-content-loading-images" class="anchor" href="#loading-images" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Loading Images</h2>
        <p>You'll need to have one or more radio configuration files or "images" on the ChirPi device. These files are the type used by Chirp on a desktop computer.</p>
        <p>There are two ways to add an image file to ChirPi:</p>
        <ol>
        <li>
        <p>Select "Upload Image From Local Storage" to upload an image file that is saved to your phone's storage. (Tip: If you have these on a computer, you can access ChirPi from your computer and upload them directly.)</p>
        </li>
        <li>
        <p>Select "Download Image From Radio" to create a new image file by downloading data from a radio connected via the programming cable.</p>
        </li>
        </ol>
        <h2>
        <a id="user-content-working-with-images" class="anchor" href="#working-with-images" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Working With Images</h2>
        <p>Once you've loaded an image to ChirPi, tap or click its name to see available options.</p>
        <p>Currently, you can rename or delete images, view information about saved channels, and upload the image to a radio.</p>
        <h3>
        <a id="user-content-uploading-to-radio" class="anchor" href="#uploading-to-radio" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Uploading to Radio</h3>
        <p>With your radio programming cable plugged in and the radio turned on, select an image then select "Upload to Radio".</p>
        <p>You will be prompted for the port the radio is plugged into and radio model number. These fields work the same way as they do in the Chirp desktop app.</p>
        <p>Lastly, tap the "Upload to Radio" button to begin the upload.</p>

      </v-col>

    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Help',

    data: () => ({
    })
  }
</script>
