<template>
  <span>
    <v-progress-linear
      :active="loading"
      :indeterminate="loading"
      absolute
      bottom
      color="purple accent-4"
      height="6"
    ></v-progress-linear>
  </span>
</template>

<script>
  export default {
    name: 'RequestStatus',
    data: () => ({
      loading: false
    }),
    created() {
      this.$eventBus.$on('loading', this.update)
    },
    beforeDestroy() {
      this.$eventBus.$off('loading')
    },
    methods: {
      update (loading) {
        this.loading = loading
      }
    },
  }
</script>
