<template>
  <v-container v-show="show">
    <v-row class="">

      <v-col class="mb-0">
        <v-alert
          prominent
          dismissible
          :type="type"
          v-model="show"
          transition="slide-x-transition"
        >
          {{ message }}
        </v-alert>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Messages',
    data: () => ({
      show: false,
      type: null,
      message: ''
    }),
    created() {
      this.$eventBus.$on('message-http-response', this.httpResponse)
      this.$eventBus.$on('message-http-error', this.httpError)
    },
    beforeDestroy() {
      this.$eventBus.$off('message-http-response')
      this.$eventBus.$off('message-http-error')
    },
    methods: {
      httpResponse(response) {
        if(typeof response.data.message === 'undefined')
          return false
        if(response.data.message == '')
          return false
        this.message = response.data.message
        this.show = true
        this.type = 'success'
        setTimeout(() => this.show = false, 4000)
      },
      httpError(error) {
        this.show = true
        this.type = 'error'
        if (error.response)
          this.message = error.response.data.message || error
        else
          this.message = error || 'Unknown Error'
      }
    }
  }
</script>
