<template>
  <v-dialog
    v-model="dialog"
    persistent
    fullscreen
    hide-overlay
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn 
        color="grey darken-2"
        class="mb-3"
        v-bind="attrs"
        v-on="on"
        block
        large
      >
        <v-icon left>mdi-content-duplicate</v-icon>
        Rename
      </v-btn>
    </template>
    <v-card>
      <Loading />
      <v-card-title>
        <span class="headline">Rename {{ filename }}</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <Messages />
          <v-form ref="form">
            <v-row>
              <v-col
                cols="12"
              >
                <MmapFileNameInput 
                  v-model="newname"
                  label="New File Name"
                  hint="Enter new file name"
                >   
                </MmapFileNameInput>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="pb-4">
        <v-spacer></v-spacer>
        <v-btn
          color="pink darken-1"
          text
          @click="dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          color="pink darken-1"
          @click="validate"
        >
          Rename
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import MmapFileNameInput from './fields/MmapFileNameInput';
import Loading from './Loading';
import Messages from './Messages';

export default {
  name: 'MmapRename',
  components: {
    MmapFileNameInput,
    Loading,
    Messages
  },
  props: ['filename'],
  data: () => ({
    dialog: false,
    valid: true,
    newname: '',
  }),
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.$chirpihttp
          .put('mmap/' + encodeURI(this.filename), {
            newname: this.newname
          })
          .then(() => {
            this.$eventBus.$emit('reload-mmap-list')
            this.dialog = false
          })
      }
    }
  }
}
</script>