<template>
  <v-dialog
    v-model="dialog"
    persistent
    fullscreen
    hide-overlay
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn 
        class="mb-3"
        v-bind="attrs"
        v-on="on"
        block
        large
        color="error"
      >
        <v-icon left>mdi-trash-can-outline</v-icon>
        Delete
      </v-btn>
    </template>
    <v-card>
      <Loading />
      <v-card-title>
        <span class="headline">Delete {{ filename }}</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <Messages />
          Are you sure you want to delete {{ filename }}? This action cannot be undone.
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="pink darken-1"
          text
          @click="dialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="pink darken-1"
          @click="confirm"
        >
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Loading from './Loading';
import Messages from './Messages';

export default {
  name: 'MmapDelete',
  components: {
    Loading,
    Messages
  },
  props: ['filename'],
  data: () => ({
    dialog: false
  }),
  methods: {
    confirm () {
      this.$chirpihttp
        .delete('mmap/' + encodeURIComponent(this.filename))
        .then(() => {
          this.dialog = false
          this.$eventBus.$emit('reload-mmap-list')
        })
        .catch((error) => {
          alert(error)
        })
    }
  },
}
</script>