<template>
  <span>
    <v-list-item @click="sheet = !sheet" v-bind:class="[sheet ? 'v-list-item--active' : '']">
      <v-row class="">
        <v-col class="col-md-5 col-lg-6 col-sm-12 d-flex pa-2">
          <v-list-item-avatar>
            <v-icon
              class="purple"
              dark
            >mdi-file-document-outline</v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title v-text="file.name"></v-list-item-title>
            <v-list-item-subtitle>
              Modified <span v-text="file.ago"></span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-col>
      </v-row>
    </v-list-item>
    <v-divider></v-divider>
    <v-overlay :value="overlay" absolute opacity="1">
      <h2 class="mr-4 ml-4">
        <span v-text="file.name"></span>
        <v-btn
          small
          color="grey"
          @click="toggleOverlay"
          right
          rounded
          class="float-right"
        >
          <v-icon color="grey darken-3">mdi-close-thick</v-icon>
        </v-btn>
      </h2>

      <Messages />
      <v-data-table
        :items="itemData.memories"
        item-key="number"
        :headers="headers"
        :disable-pagination="true"
        :items-per-page="-1"
        :height="windowHeight - 90"
        calculate-widths
        dense
        :hide-default-footer="true"
      ></v-data-table>
      <Loading />
    </v-overlay>
    <v-bottom-sheet
      v-model="sheet"
    >
      <v-sheet
        class="text-center"
      >
        <div class="ma-5 pt-5">
          <v-btn
            color="grey darken-2"
            block
            class="mb-3"
            @click="toggleOverlay"
          >
            <v-icon>mdi-text-box-search-outline</v-icon>
            View Channels
          </v-btn>
          <MmapUpload :filename="file.name" />
          <MmapRename :filename="file.name" />
          <MmapDelete :filename="file.name" />
          <v-btn
            text
            large
            block
            color="error"
            @click="sheet = !sheet"
          >
            Close
          </v-btn>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </span>
</template>

<script>
  import MmapUpload from './MmapUpload'
  import MmapDelete from './MmapDelete'
  import MmapRename from './MmapRename'
  import Loading from './Loading';
  import Messages from './Messages';

  export default {
    components: {
      MmapUpload,
      MmapDelete,
      MmapRename,
      Loading,
      Messages
    },
    name: 'MmapsListItem',
    data: () => ({
      overlay: false,
      sheet: false,
      itemData: {},
      windowHeight: window.innerHeight,
      headers: [
        { text: '#', value: 'number' },
        { text: 'Name', value: 'name' },
        { text: 'Frequency', value: 'format_freq' },
        { text: 'ctone', value: 'ctone' },
        { text: 'cross_mode', value: 'cross_mode' },
        { text: 'dtcs', value: 'dtcs' },
        { text: 'mode', value: 'mode' },
        { text: 'power', value: 'power' },
        { text: 'rtone', value: 'rtone' },
      ],
    }),
    methods: {
      loadData () {
        this.$chirpihttp
          .get('mmap/' + encodeURIComponent(this.file.name))
          .then((response) => {
            this.itemData = response.data
          })
      },
      toggleOverlay() {
        if(this.overlay) {
          this.overlay = false
        } else {
          this.overlay = true
          this.loadData()
        }
        this.sheet = !this.sheet
      }
    },
    props: {
      file: {}
    }
  }
</script>

<style scoped>
.v-overlay {
    align-items: normal;
    display: inline;
    margin-top: 10px;
}
</style>