<template>
  <v-dialog
    v-model="dialog"
    persistent
    fullscreen
    hide-overlay
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn 
        color="grey darken-2"
        class="mb-3"
        v-bind="attrs"
        v-on="on"
        block
        large
      >
        <v-icon left>mdi-radio-handheld</v-icon>
        Upload
      </v-btn>
    </template>
    <v-card>
      <Loading />
      <v-card-title>
        <span class="headline">Upload {{ filename }} to Radio</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <Messages />
          <v-form ref="form">
            <v-row>
              <v-col
                cols="12"
              >
                <SerialPortSelect v-model="port"></SerialPortSelect>
              </v-col>
              <v-col
                cols="12"
              >
                <RadioSelect v-model="radio"></RadioSelect>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="pb-4">
        <v-spacer></v-spacer>
        <v-btn
          color="pink darken-1"
          text
          @click="dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          color="pink darken-1"
          @click="validate"
        >
          Upload to Radio
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import SerialPortSelect from './fields/SerialPortSelect';
import RadioSelect from './fields/RadioSelect';
import Loading from './Loading';
import Messages from './Messages';

export default {
  name: 'MmapUpload',
  components: {
    SerialPortSelect,
    RadioSelect,
    Loading,
    Messages
  },
  props: ['filename'],
  data: () => ({
    dialog: false,
    valid: true,
    port: '',
    radio: ''
  }),
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.$chirpihttp
          .post('mmap/' + encodeURI(this.filename) + '/upload', {
            port: this.port,
            radio: this.radio
          })
          .then(() => {
            this.dialog = false
          })
      }
    }
  }
}
</script>