<template>
  <div>
    <MmapListItem
      v-for="file in files"
      :key="file.title"
      :file="file"
    />
    <v-sheet
      color="grey darken-2"
      v-show="isLoading"
    >
      <v-skeleton-loader
        class="mx-auto"
        type="article"
      ></v-skeleton-loader>
    </v-sheet>
    <v-alert
      prominent
      type="warning"
      v-if="noneFound"
    >
      <v-row align="center">
        <v-col class="grow">
          No image files found.
        </v-col>
      </v-row>
    </v-alert>
  </div>
</template>

<script>
import MmapListItem from './MmapListItem';
export default {
  name: 'MmapsList',
  components: {
    MmapListItem,
  },
  data () {
    return {
      files: {},
      isLoading: true
    }
  },
  created() {
    this.$eventBus.$on('reload-mmap-list', this.loadFiles)
  },
  beforeDestroy() {
    this.$eventBus.$off('reload-mmap-list')
  },
  mounted () {
    this.loadFiles()
  },
  computed: {
    noneFound() {
      if (this.isLoading)
        return false
      if (typeof this.files === 'undefined' || this.files === null)
        return true
      if (Object.keys(this.files).length === 0)
        return true
      return false
    }
  },
  methods: {
    loadFiles () {
      this.$chirpihttp
      .get('mmaps')
      .then((response) => {
        this.files = response.data
        this.isLoading = false
      })
      .catch((error) => {
        this.isLoading = false
        console.log(error)
        return error
      })
    }
  }
}
</script>