<template>
  <v-dialog
    v-model="dialog"
    persistent
    fullscreen
    hide-overlay
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="purple lighten-2"
        class="mr-2 mb-3"
        v-bind="attrs"
        v-on="on"
        large
        block
      >
        Upload Image From Local Storage
      </v-btn>
    </template>
    <v-card>
      <Loading />
      <v-card-title>
        <span class="headline">Upload Image From Device</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <Messages />
          <v-form ref="form">
            <v-row>
              <v-col
                cols="12"
              >
               <v-file-input
                  label="Upload Image File"
                  accept="application/x-raw-disk-image"
                  v-model="file"
                  :rules="fileRules"
                  ref="file"
                ></v-file-input>
              </v-col>
              <v-col
                cols="12"
              >
                <MmapFileNameInput
                  label="Image File Name"
                  v-model="name"
                  hint="New file name for image"
                ></MmapFileNameInput>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="pb-4">
        <v-spacer></v-spacer>
        <v-btn
          color="pink darken-1"
          text
          @click="dialog = false"
          large
        >
          Close
        </v-btn>
        <v-btn
          color="pink darken-1"
          @click="validate"
          :disabled="!valid"
          large
        >
          Upload
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import MmapFileNameInput from './fields/MmapFileNameInput';
  import Loading from './Loading';
  import Messages from './Messages';

  export default {
    name: 'UploadFromDevice',
    components: {
      MmapFileNameInput,
      Loading,
      Messages
    },
    data: () => ({
      dialog: false,
      valid: true,
      file: null,
      name: '',
      fileRules: [
        v => !!v || 'File is required',
        v => (v && v.type === 'application/x-raw-disk-image') || 'File time must be a Chirp image'
      ],
    }),
    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          let formData = new FormData()
          formData.append('file', this.file)
          formData.append('name', this.name)
          this.$chirpihttp
            .post('mmaps', formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then(() => {
              this.$eventBus.$emit('reload-mmap-list')
              this.dialog = false
              this.file = null
              this.name = ''
              this.$refs.form.reset()
            })
        }
      }
    },
    watch: {
      file: function (val) {
        if (typeof val !== 'undefined' && val !== null)
          this.name = val.name.replace(/\s+/g, '') || ''
        else
          this.name = ''
      },
    }
  }
</script>