<template>
  <v-app>
    <v-app-bar
      app
      color="pink"
      dark
    >
      <div class="d-flex align-center">
        <h1>ChirPi</h1>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        color="grey darken-3"
        @click="helpOverlay = !helpOverlay"
      >
        Help
      </v-btn>
      <Loading />
    </v-app-bar>

    <v-main>

      <v-container>
        <v-row>
          <v-col>
            <Messages />
            <UploadFromDevice />
            <DownloadFromRadio />
            <MmapList />

          </v-col>
        </v-row>
      </v-container>
      

      <v-overlay :value="helpOverlay" opacity="1">
        <Help/>
        <v-btn
          color="secondary"
          @click="helpOverlay = false"
        >
          Close
        </v-btn>
      </v-overlay>

    </v-main>

  </v-app>
</template>

<script>
import Help from './components/Help';
import MmapList from './components/MmapList';
import UploadFromDevice from './components/UploadFromDevice';
import DownloadFromRadio from './components/DownloadFromRadio';
import Messages from './components/Messages';
import Loading from './components/Loading';

export default {
  name: 'App',

  components: {
    Help,
    MmapList,
    UploadFromDevice,
    DownloadFromRadio,
    Messages,
    Loading
  },

  data: () => ({
    page: 'main',
    helpOverlay: false,
  }),
};
</script>
